@import '../abstract/variaveis';

.formulario {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
    margin: 2% 0 0 4%;
    @media screen and (max-width: 576px) {
        gap: 0rem;
    }
}
.formulario__pesquisar {
    border: 1px solid $color_border;
    margin-right: 8px;
    width: 85vw;
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 78vw;
        font-size: 2.3em;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        width: 78vw;
    }
}
.formulario__botao__pesquisa {
    @include border__pesquisa;
    background: $color_text;
    width: 7vw;;
    
    svg {
        color: $color_background;
        bottom: -0.01%;    
        transform: matrix(-1, 0, 0, 1, 0, 0);
        top: 0%;
    }
    @media screen and (max-width: 576px){
        height: 8vh;
        width: 15vw;
    }
    @media screen and (min-width: 577px) and (max-width: 768px){
        height: 8vh;
        width: 13vw;
    }
}